@import "tailwindcss";

@import "@heroui/styles"; 



@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@media (max-width: 640px) {
  .animate-marquee {
    animation-duration: 18s;
  }
}

@media (min-width: 1024px) {
  .animate-marquee {
    animation-duration: 30s;
  }
}
